/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */

@media print {
    .view-articles-slideshow {
        ul, ol {
            list-style-type: none;
        }
    }
    .institutional-studies-pages {
        .ismaili-articles {
            .view-articles-slideshow {
                .flexslider {
                    min-height: 27em;
                }
            }
        }
    }
    /* Underline all links. */
    a:link,
    a:visited {
        text-decoration: underline !important;
        /* Don't underline header. */
        &.header__site-link {
            text-decoration: none !important;
        }
    }
    #content {
        /* Add visible URL after links. */
        a[href]:after {
            // content: " (" attr(href) ")";
            font-weight: normal;
            font-size: $base-font-size;
        }
        /* Only display useful links. */
        a[href^="javascript:"]:after,
        a[href^="#"]:after {
            content: "";
        }
        /* Add visible title after abbreviations. */
        abbr[title]:after {
            // content: " (" attr(title) ")";
       
        }
    }
    /* Un-float the content. */
    #content {
        float: none !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /* Turn off any background colors or images. */
    body,
    #page,
    #main,
    #content {
        color: #000;
        background-color: transparent !important;
        background-image: none !important;
    }
    body {
        margin: 0;
        padding: 0;
    }
    /* Hide sidebars and nav elements. */
    #skip-link,
    #toolbar,
    #navigation,
    .region-sidebar-first,
    .region-sidebar-second,
    #footer,
    .breadcrumb,
    .tabs,
    .action-links,
    .links,
    .book-navigation,
    .forum-topic-navigation,
    .pager,
    .feed-icons {
        visibility: hidden;
        display: none;
    }
    .image-full, .media-large, .media-full {
        width: auto !important;
    }
    .ismail-menu {
        clear: both;
        margin-top: 10px;
        background: $gray;
        min-height: 35px;
        border-bottom: 1px solid $border-clr;
        border-top: 1px solid $border-clr;
        .block {
            margin: 0;
            overflow: hidden;
        }
        .menu, .field-items {
            margin: 0;
            padding: 0;
            list-style-type: none;
            .menu__item, .field-item {
                list-style-image: none;
                display: block;
                float: left;
                border-right: 1px solid $border-clr;
                .menu__link, a {
                    display: inline-block;
                    padding: 0.4em 0;
                    font-weight: normal;
                    color: $dark-gray;
                    width: 193px;
                    text-align: center;
                    font-size: .813em;
                }
                &.last {
                    border-right: 0;
                }
            }
        }
    }
    .panels-flexible-6 {
        .panels-flexible-row-6-1 {
            padding-bottom: 0;
        }
        .panels-flexible-region-6-header {
            width: 100%;
        }
    }
    .ismail-menu {
        #block-menu-menu-ismaili-centre-menu {
            .menu {
                .menu__item {
                    .menu__link {
                        padding: 0.4em 1.17em;
                    }
                }
            }
        }
    }
    .pane-menu-menu-ismaili-centre-menu {
        clear: both;
        margin-top: 3%;
        background: $gray;
        min-height: 35px;
        .menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            border-bottom: 1px solid $border-clr;
            border-top: 1px solid $border-clr;
            overflow: hidden;
            .menu__item {
                list-style-image: none;
                display: block;
                float: left;
                border-right: 1px solid $border-clr;
                .menu__link {
                    display: inline-block;
                    padding: 0.4em 0;
                    font-weight: normal;
                    color: $dark-gray;
                    width: 193px;
                    text-align: center;
                    font-size: .813em;
                }
                &.last {
                    border-right: 0;
                }
            }
        }
    }
    .front {
        .header {
            .header__logo {
                background: url("../images/786.gif") no-repeat 0 0;
                display: block;
                height: 96px;
                width: 269px;
                background-size: 100%;
            }
        }
    }
    .header {
        padding-bottom: 10px;
        padding-top: 27px;
        position: relative;
        .header__region {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: $maroon;
            #block-views-exp-search-page {
                float: right;
                margin-bottom: 0;
                .views-exposed-widgets {
                    position: relative;
                }
                .views-exposed-widget {
                    label {
                        display: none;
                    }
                    .form-submit {
                        margin: 0;
                        background: url("../images/search-icon.png") no-repeat 0 0;
                        background-size: 90%;
                        border: 0 none;
                        font-size: 0;
                        height: 18px;
                        width: 22px;
                    }
                    .form-text {
                        width: 194px;
                        padding: 3px 25px 3px 3px;
                        border: 0;
                        font-size: .8em;
                    }
                    &.views-submit-button {
                        position: absolute;
                        right: 10px;
                        top: -6.5px;
                        padding-right: 0;
                    }
                    &.views-widget-filter-search_api_views_fulltext {
                        padding-right: 0;
                        width: 95%;
                        padding-top: 6px;
                    }
                }
            }
            #block-widgets-s-socialmedia-profile-default {
                margin-bottom: 0;
                margin-top: 10px;
                margin-left: 20px;
                float: left;
                .widgets-element-horizontal {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        height: 20px;
                        width: 21px;
                    }
                }
                #widgets-element-socialmedia_socialmedia-facebook-profile-button {
                    a {
                        background: url("../images/social-icons.png") no-repeat 0 0;
                        img {
                            display: none;
                        }
                    }
                }
                #widgets-element-widgets_custom-markup {
                    .tumblr-social {
                        background: url("../images/social-icons.png") no-repeat -30px 0 !important;
                        height: 20px !important;
                        width: 21px !important;
                    }
                    .print-page {
                        background: url("../images/social-icons.png") no-repeat -168px 0;
                        font-size: 0;
                        width: 23px;
                    }
                }
                #widgets-element-socialmedia_socialmedia-twitter-profile-button {
                    a {
                        background: url("../images/social-icons.png") no-repeat -59px 0;
                        img {
                            display: none;
                        }
                    }
                }
                #widgets-element-socialmedia_addthis-email {
                    a {
                        background: url("../images/social-icons.png") no-repeat -117px 0;
                        img {
                            display: none;
                        }
                    }
                }
                #widgets-element-socialmedia_socialmedia-rss-feed-button {
                    a {
                        background: url("../images/social-icons.png") no-repeat -145px 0;
                        img {
                            display: none;
                        }
                    }
                }
                #widgets-element-socialmedia_socialmedia-googleplus-profile-button {
                    a {
                        background: url("../images/social-icons.png") no-repeat -88px 0;
                        img {
                            display: none;
                        }
                    }
                }
                #widgets-element-socialmedia_socialmedia-youtube-profile-button {
                    a {
                        background: url("../images/social-icons.png") no-repeat -224px 0;
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #branding-right {
        text-align: center;
        padding: 21px 0 0;
        a {
            display: block;
        }
    }
    .section-ismailicentres {
        #branding-right {
            // height: auto;
            .block {
                a {
                    line-height: 0;
                }
            }
        }
        &.page-panels {}
    }
    .front {
        #branding-right {
            background: url("../images/786.gif") no-repeat 20px 0;
            .first {
                a {
                    line-height: 0;
                }
            }
        }
    }
    #branding-left, #branding-right {
        .block, p {
            margin: 0;
        }
    }
}