/**
 * @file
 * RTL companion for the styles.scss file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize-rtl";

/* Layout rules */
@import "layouts/responsive-rtl";

/* Component (SMACSS module) rules */
@import "components/misc-rtl";

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */

//RTL Theming.
.html {
    #block-locale-language {
        padding-left: 0;
        padding-right: 8px;
        .block__title {
            &:after {
                left: -44px;
            }
        }
    }
    .header {
        .header__region {
            #block-views-exp-search-page {
                .views-exposed-widget.views-widget-filter-search_api_views_fulltext {
                    margin-right: 10px;
                }
                .views-exposed-widget {
                    .form-text {
                        padding-left: 24px;
                    }
                    &.views-submit-button {
                        right: inherit;
                        left: 3px;
                    }
                }
            }
        }
    }
    #branding-left {
        float: right;
        margin-right: 30px;
        margin-left: 0;
    }
    #branding-right {
        margin-left: 0;
        margin-right: 37%;
    }
    .panel-flexible {
        .banner-slideshow-region {
            width: 100%;
        }
        .pane-views-banner-block {
            .view-banner {
                .flex-direction-nav {
                    a {
                        padding-left: 0;
                        padding-right: 4px;
                        &.prev {
                            left: 66.3%;
                        }
                        &.next {
                            left: inherit;
                            right: 34.3%;
                        }
                    }
                }
            }
        }
        .about-us-section {
            .panels-flexible-region-last {
                .form-submit {
                	margin-left: 0;
                	margin-right: -4px;
                }
                .form-type-textfield {
                	border-right: 0;
                	border-left: 1px solid $border-clr;
                }
            }
            .panels-flexible-region-first {
            	float: right;
            	.pane-menu-menu-about-us-menu {
            		.pane-title {
            			margin: 0 0 0 5px;
            			float: right;
            		}
            		.menu {
            			.menu__item {
            				padding: 0;
            			}
            		}
            	}
            }
        }
        .banner-slideshow {
            .view-banner {
                .flexslider-views-slideshow-main-frame-row {
                    .banner-text {
                        float: right;
                    }
                    .banner-image {
                        float: left;
                    }
                    .views-field-counter {
                        left: 94%;
                    }
                }
            }
        }
        .panels-flexible-region-1-about_us {
            width: 100%;
        }
    }
    .pane-menu-menu-ismaili-centre-menu {
        .menu {
            .menu__item {
                margin: 0;
                padding: 0;
            }
        }
    }
    .ismail-menu {
        .menu {
            .menu__item {
                .menu__link {
                    width: 176px;
                }
            }
        }
    }
    .panel-flexible .panels-flexible-row-last .panels-flexible-region .home-archive-section .view-archive-ismaili .view-content .views-field-field-main-image,
    #content .view-search .views-row .views-field-field-main-image,
    .ismaili-internal-pages .panels-flexible-row-last .view-hub-pages .views-row .views-field-field-main-image {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
    .ismaili-internal-pages .panels-flexible-row-last .view-hub-pages .views-row .views-field-field-summary .more-link {
        margin-left: 5px;
        float: right;
    }
    #footer {
        .copyright-section {
            margin-left: 0;
            margin-right: 115px;
        }
    }
}