$icon-search: "\e900";
$icon-envelope: "\e901";
$icon-share: "\e902";
$icon-youtube-square: "\e903";
$icon-play-circle-o: "\e904";
$icon-play-circle: "\e905";
$icon-chevron-up: "\e906";
$icon-chevron-circle-up: "\e907";
$icon-chevron-down: "\e908";
$icon-chevron-circle-down: "\e909";
$icon-chevron-left: "\e910";
$icon-chevron-circle-left: "\e911";
$icon-chevron-right: "\e912";
$icon-chevron-circle-right: "\e913";
$icon-print: "\e914";
$icon-play_circle_outline: "\e915";
$icon-play_circle_filled: "\e916";
$icon-copyright: "\e917";
$icon-facebook: "\e918";
$icon-youtube: "\e919";
$icon-chevron-up2: "\e920";
$icon-chevron-thin-up: "\e921";
$icon-chevron-down2: "\e922";
$icon-chevron-thin-down: "\e923";
$icon-chevron-left2: "\e924";
$icon-chevron-thin-left: "\e925";
$icon-chevron-right2: "\e926";
$icon-chevron-thin-right: "\e927";
$icon-twitter: "\e928";
$icon-instagram: "\e929";
$icon-linkedin: "\e930";
$icon-envelope2: "\e931";
$icon-envelope3: "\e932";
$icon-mail: "\e933";
$icon-volume-high: "\e934";
$icon-volume: "\e935";
$icon-volume2: "\e936";
$icon-volume3: "\e937";
$icon-file_download: "\e938";
$icon-cloud_download: "\e939";
$icon-linkedin2: "\e90a";
$icon-facebook-official: "\e90b";
$icon-linkedin3: "\e90c";
$icon-twitter2: "\e90d";
$icon-play_arrow: "\e90e";
$icon-itunes: "\e90f";
$icon-itunes2: "\e91a";
$icon-arrow-down-alt1: "\e91b";
$icon-folder-download: "\e91c";
$icon-arrow-down: "\e91d";
$icon-download: "\e91e";
$icon-cloud-download: "\e91f";
$icon-volume-decrease: "\e92a";
$icon-volume-increase: "\e92b";
$icon-volume-mute: "\e92c";
$icon-volume-mute2: "\e92d";
$icon-volume-low: "\e92e";
$icon-volume-medium: "\e92f";