// Hack Scss file for all browsers

// Hack for Chrome.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .header {
        #block-tb-megamenu-main-menu, #block-tb-megamenu-menu-home-page-menu {
            .tb-megamenu {
                .nav-collapse {
                    > .nav {
                        > .tb-megamenu-item.mega {
                            > .dropdown-toggle {
                                padding: 0.3em 1.458em;
                                @media only screen and (max-width: 1024px) {
                                    padding: 0.5em 1.42em;
                                    font-size: 85%;
                                }
                            }
                        }
                    }
                }
            }
        }
        #block-tb-megamenu-main-menu {
            .tb-megamenu {
                .nav-collapse {
                    > .nav {
                        > .tb-megamenu-item.mega {
                            > .dropdown-toggle {
                                padding: .9em 1.485em;
                            }
                        }
                    }
                }
            }
        }
    }
}