/**
 * @file
 * RTL companion for the styles.scss file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize-rtl";

/* Layout rules */
@import "layouts/responsive-rtl";

/* Component (SMACSS module) rules */
@import "components/misc-rtl";

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */

// Styles for multilingual sections.

//Admin menu.

#admin-menu {
    .dropdown {
        .expandable {
            .dropdown {
                right: inherit;
            }
        }
    }
}

//header section.
.header {
    .region-top-header {
        float: left;
        #block-views-exp-solr-search-page {
            float: left;
            .views-exposed-widgets {
                .views-exposed-widget {
                    .fa-search:before {
                        left: -14px;
                        right: inherit;
                    }
                }
                .views-submit-button {
                    left: 5px;
                    right: inherit;
                }
            }
        }
        #block-menu-menu-header-menu {
            float: right;
            margin: 0 4% 0 0;
            .menu {
                .menu__item {
                    border-left: 2px solid $black;
                    border-right: 0;
                }
            }
        }
    }
    .header__logo {
        float: none;
    }
    #block-menu-menu-inner-page-menu {
        left: 96%;
    }
    .easy-breadcrumb {
        float: right;
    }
    #block-locale-language {
        float: left;
    }
}

//slider section.

.skin-default {
    .views-slideshow-controls-bottom {
        right: 95%;
        .views_slideshow_controls_text_previous {
            left: -25px;
            position: relative;
        }
        .views_slideshow_controls_text_next {
            right: -25px;
            position: relative;
        }
    }
}

.owl-carousel.owl-theme {
    .owl-wrapper-outer {
        padding: 3.05%;
        .owl-wrapper {
            left: 319% !important;
            .owl-item {
                float: right;
            }
        }
    }
}

//Left inner pages nave.
#main {
    .sidebars {
        .block-menu {
            .menu > {
                .menu__item {
                    .menu__link {
                        &:before {
                            border-right: 8px solid rgb(0, 0, 0);
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }
    #content {
        #block-print-print-links, #block-sharethis-sharethis-block {
            float: left;
            > span {
                margin-right: .5em;
                margin-left: 0;
                &.print_pdf {
                    margin-right: .3em !important;
                }
            }
        }
    }
}