/**
 * variables for all patial files.
**/

$white: #fff;
$black: #000;
$light-black: #333;
$dark-grey: #b1b1b1;
$navyblue: #7EB4EA;
$light-navyblue: #EAF3FC;
$color-bg: #eee;
$color-menu-hover: #f2edde;
$color-menu-bg: #e8dfcd;
$color-menu-border: #b49759;
$color-border: #ccc;
$color-li-bg: #fafafa;
$color-img-caption: #999;
$color-page-bg: #e8dfcd;
$color-active-bg: #f4efe6;
$color-logo: #C1AA77;


$sans-serif: sans-serif;
$fontawesome: "FontAwesome";

/*Font-sizes*/
$tweleve-pix: 12px;
$sixteen-pix: 16px;
$fourteen-pix: 14px;
$full-width:100%;