/*
 * ##### Sasson - advanced drupal theming. #####
 *
 * SASS mixins
 * http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
 *
*/
/*===================== Media Queries mixing ======================*/
/**
 * variables for all patial files.
**/
/*Font-sizes*/
@media all and (min-width: 992px) and (max-width: 1200px) {
  /* communicator resources*/
  /* line 6, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(7n+1) {
    clear: none;
  }

  /* line 9, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(6n+1) {
    clear: left;
  }
}
@media all and (min-width: 641px) and (max-width: 991px) {
  /* communicator resources*/
  /* line 16, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(7n+1) {
    clear: none;
  }

  /* line 19, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(4n+1) {
    clear: left;
  }
}
@media all and (min-width: 769px) and (max-width: 980px) {
  /* line 25, ../sass/mediaquery.scss */
  .tile-block:nth-child(4n+1) {
    clear: none;
  }
}
@media all and (min-width: 641px) and (max-width: 768px) {
  /* line 30, ../sass/mediaquery.scss */
  .workbench-tile-container {
    width: 100%;
  }

  /* line 33, ../sass/mediaquery.scss */
  .latest-addition {
    width: 100%;
  }
}
@media all and (min-width: 541px) and (max-width: 640px) {
  /* line 38, ../sass/mediaquery.scss */
  .workbench-tile-container {
    width: 100%;
  }

  /* line 41, ../sass/mediaquery.scss */
  .latest-addition {
    width: 100%;
  }

  /* line 44, ../sass/mediaquery.scss */
  .tile-block:nth-child(3n+1) {
    clear: left;
  }

  /* line 47, ../sass/mediaquery.scss */
  .tile-block:nth-child(4n+1) {
    clear: none;
  }

  /* communicator resources*/
  /* line 51, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(7n+1) {
    clear: none;
  }

  /* line 54, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 361px) and (max-width: 540px) {
  /* line 59, ../sass/mediaquery.scss */
  .workbench-tile-container {
    width: 100%;
  }

  /* line 62, ../sass/mediaquery.scss */
  .latest-addition {
    width: 100%;
  }

  /* line 65, ../sass/mediaquery.scss */
  .tile-block:nth-child(2n+1) {
    clear: left;
  }

  /* line 68, ../sass/mediaquery.scss */
  .tile-block:nth-child(4n+1) {
    clear: both;
  }

  /* communicator resources*/
  /* line 72, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(7n+1) {
    clear: none;
  }

  /* line 75, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(2n+1) {
    clear: left;
  }
}
@media only screen and (max-width: 360px) {
  /* line 80, ../sass/mediaquery.scss */
  .workbench-tile-container {
    width: 100%;
  }

  /* line 83, ../sass/mediaquery.scss */
  .latest-addition {
    width: 100%;
  }

  /* line 86, ../sass/mediaquery.scss */
  .tile-block {
    margin: auto;
    display: block;
    float: none;
  }

  /* line 91, ../sass/mediaquery.scss */
  .tile-block:nth-child(4n+1) {
    clear: both;
  }

  /* communicator resources*/
  /* line 95, ../sass/mediaquery.scss */
  .inner-tile-block:nth-child(7n+1) {
    clear: none;
  }

  /* line 98, ../sass/mediaquery.scss */
  .inner-tile-block {
    margin: auto;
    display: block;
    float: none;
  }
}
