/**
 * variables for all patial files.
**/
/*Font-sizes*/
/*
 * ##### Sasson - advanced drupal theming. #####
 *
 * SASS mixins
 * http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
 *
*/
/*===================== Media Queries mixing ======================*/
@import url("modernizer-api.js");
/* line 6, ../sass/style-rtl.scss */
.sidebar-second #content-column {
  float: right;
}

/* line 12, ../sass/style-rtl.scss */
.sidebar-second .region-sidebar-second {
  text-align: left;
}

/* line 18, ../sass/style-rtl.scss */
#site-name a {
  text-align: left;
}

/* line 26, ../sass/style-rtl.scss */
.view-views-newsletter-subscriptions .views-field-title,
.view-admin-content .views-field-title,
.my-dashboard .views-field-title {
  text-align: right;
}

/* line 33, ../sass/style-rtl.scss */
.recent-content .view-filedepot li {
  margin-left: 1.5em;
  margin-right: 0;
}
/* line 36, ../sass/style-rtl.scss */
.recent-content .view-filedepot li .views-label-name {
  float: right;
}
/* line 38, ../sass/style-rtl.scss */
.recent-content .view-filedepot li .views-label-name:before {
  margin-left: 1em;
}
/* line 45, ../sass/style-rtl.scss */
.recent-content .view-filedepot-folderlisting .views-row {
  margin-left: 0;
  margin-right: 4em;
}

/* line 54, ../sass/style-rtl.scss */
.view-views-newsletter-subscriptions caption,
.view-admin-content caption, .my-dashboard caption {
  text-align: right;
}

/* line 59, ../sass/style-rtl.scss */
.search-listing-page,
.listing-page {
  padding: 0 2em 0 1em;
}
/* line 62, ../sass/style-rtl.scss */
.search-listing-page .image-field,
.listing-page .image-field {
  float: right;
}
/* line 64, ../sass/style-rtl.scss */
.search-listing-page .image-field .field-content,
.listing-page .image-field .field-content {
  margin: 0 0 0.9em 1.5em;
}

/* line 71, ../sass/style-rtl.scss */
#crumbs li {
  float: right;
}
/* line 73, ../sass/style-rtl.scss */
#crumbs li a {
  margin-right: 0;
  margin-left: .4em;
}

/* line 82, ../sass/style-rtl.scss */
.page-node .main-header h1 {
  padding: 0 2em 0 0;
  text-align: right;
}
@media (max-width: 768px) {
  /* line 82, ../sass/style-rtl.scss */
  .page-node .main-header h1 {
    padding: 0 .5em;
  }
}

/* line 94, ../sass/style-rtl.scss */
.my-workbench .right h3 {
  text-align: right;
}
