/* Global site change*/
/* for search page*/
.block-akdn-search-urls-block {
    float: right;
    .akdn_search_urls_block {
        margin: 5px 10px 10px 0px;
        a {
            border: 1px solid rgb(204, 204, 204);
            padding: 5px 10px;
            margin: 0 10px 10px 0;
        }
    }

}

#views-exposed-form-solr-site-search-page {
    .views-widget-filter-search_api_views_fulltext {
        display: none;
    }
    .views-widget-sort-by {
        clear: both;
        float: none;
        margin-bottom: 20px;
    }
}

div#block-views-exp-solr-site-search-page {
    clear: both;
    display: inline-block;
}
