/* hidden internal page*/

/* Varaibles*/
$color_white: #fff;
$color_black: #000;
$color_brown: #b6985a;
$color_grey: #666;
$font-20: 20px;
$font-18: 18px;
$font-universe-bold: 'universltstd-bold';
$font-universe-light: 'universltstd-light';


h3 { 
    margin: 0;
}
a:hover {
    text-decoration: none;
}
/* Font face*/
@font-face {
    font-family: 'universltstd-bold';
    src: url('../fonts/universltstd-bold-598412d236533.eot');
    src: local('☺'), url('../fonts/universltstd-bold-598412d236533.woff') format('woff'),
         url('../fonts/universltstd-bold-598412d236533.ttf') format('truetype'), 
         url('../fonts/universltstd-bold-598412d236533.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'universltstd-light';
	src: url('../fonts/univers-lt-std-45-light-5984549a39169.eot');
	src: local('☺'), url('fonts/univers-lt-std-45-light-5984549a39169.woff') format('woff'),
             url('../fonts/univers-lt-std-45-light-5984549a39169.ttf') format('truetype'), 
             url('../fonts/univers-lt-std-45-light-5984549a39169.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.node-type-akdn-internal-news-page {
    ul.tabs.primary {
        margin-top: 50px;
    }
}
#internal-page {
    max-width: 1172px;
    margin: 0 auto;

    h1 {
        margin: 0 0 20px;
        
        a {
            width: 120px;
            height: 55px;
            background: url(../images/akdn-logo.png) 0 0 no-repeat;
            display: block;
            font-size: 0;
        }
    }
    /* Header*/
    .heading-text-date {
        float: left;
        clear: left;
        .sub_title_date {
            margin-top: 5px;
            color: $color_grey;
            font-size: $font-20;
            line-height: 22px;
            h3 {
                display: inline-block;
                vertical-align: top;
                margin: 0 10px 0 0;
                padding: 0;
                font-size: $font-20;
                line-height: 22px;
                text-transform: uppercase;
                
            }
            span {
                padding-left: 10px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    .search-block {
        float: right;
        clear: right;
        background: #eaeaea;
        width: 300px;
        form {
            padding: 5px 10px;
        }
        .form-item-search {
            display: inline-block;
            vertical-align: top;
            width: 85%;
            margin: 0;
            input[type=text] {
              background: none !important;
              border: 0 !important;
              box-shadow: none !important;
              padding: 0 !important;
              font-size: 16px;
              ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                line-height: inherit !important;
                text-align: left !important;
              }
              ::-moz-placeholder { /* Firefox 19+ */
                line-height: inherit !important;
                text-align: left !important;
              }
              :-ms-input-placeholder { /* IE 10+ */
                line-height: inherit !important;
                text-align: left !important;
              }
              :-moz-placeholder { /* Firefox 18- */
                line-height: inherit !important;
                text-align: left !important;
              }
           }            
        }
        input[type=submit] {
          display: inline-block;
          background: image-url("magnifier.png") no-repeat;
          font-size: 0;
          border: 0 ;
          width: 15px;
          height: 15px;
          float: right;
          margin: 5px 0;
        }
    }

    /* Annoucement Config Blocks*/
    .announcement-block {
        margin: 25px 0;
        padding: 30px 45px;
        background: #b5995a;
        .announcement-image {
            width: 340px;
            float: left;
            margin-right: 45px;
        }
        .announcement-content {
            float: left;
            color: $color_white;
            font: 24px/26px "Arial, sans-serif";
            h3 {
                font: 45px "Times New Roman, sans-Serif";
                text-transform: uppercase;
            }
            h4 {
                font: bold 24px/32px "Arial, sans-serif";
                margin: 0;
            }
            a {
                display: block;
                color: $color_white;
                text-transform: uppercase;
                margin-top: 3px;
            }
        }
    }

    .akdn_social_media_content {
        margin: 25px 0 0;
        border-bottom: 1px solid #b6985a;
        padding: 0 0 25px 0;
        h3 {
            color: $color_brown;
            font: 45px "Times New Roman, sans-Serif";
        }
        .social-media-block {
            margin-top: $font-20;
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            font-family: 'universltstd-bold';
            .view-facebook-feeds {
                width: 33%;
                border-right: 1px solid $color_brown;
                padding-right: 30px;
                margin-right: 30px;
                font-size: $font-20;
                &:last-child {
                    border-right: 0;
                    padding-right: 0;
                    margin-right: 0;
                    width: 30.5%;
                }
                .grid-social-block_picture {
                    img {
                        width: 340px;
                    }
                }                
            }    
        }
      .grid-social-block_title {
         padding: 0;
         margin: 10px 0 0;
        .title {
           padding: 0;
           font-family: 'universltstd-bold';
           font-size: $font-18;
        }
        .social-icon-image {
           position: static;
           left: 0;
           float: right;
        }
      }
       .grid-social-block_date {
           padding: 0;
           margin: 10px 0;
           font-size: $font-18;
           font-family: $font-universe-light;
       }
       .grid-social-block_body {
           padding: 0;
           font-size: $font-18;
           line-height: 24px;
           font-family: $font-universe-light;
       }
       .grid-social-block_medialink {
           display: none;
       }
       .view-on-social-media {
           a {
               color: $color_black;
               font-family: $font-universe-bold;
               text-transform: uppercase;
               font-size: 16px;
           }
       }
    }
    /* news block*/
    .news-block {
        margin-top: 20px;
        .view-content {
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            .news-block-content {
                width: 33%;
                border-right: 1px solid $color_brown;
                padding-right: 30px;
                margin-right: 30px;
                font-size: $font-20;
                &:last-child {
                    padding-right: 0;
                    border-right: 0;
                    margin-right: 0;
                    width: 30.5%;
                }
                .news-image {
                    margin-bottom: 25px;
                }
                .article-type {
                    color: $color_brown;
                    text-transform: uppercase;
                    font-family: $font-universe-bold;
                }
                .article-text {
                    display: none;
                }
                h4 {
                    font-size: $font-20;
                    font-weight: bold;
                    color: $color_black;
                    margin: 0 0 10px;
                    min-height: 70px;
                    a {
                       color: $color_black; 
                    }
                }
                .news-date {
                    margin-bottom: 10px;
                    color: $color_grey;
                    font-family: $font-universe-light;
                }
                .news-body {
                    font-size: $font-18;
                    line-height: 24px;
                    font-family: $font-universe-light;
                }
                .readmore-text {
                    a {
                        color: $color_black;
                        font-family: $font-universe-bold;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
    /* News from community*/
    .news-community {
        @extend .news-block;
        .article-type {
            min-height: 27px;
        }
    }
    
    /*Multimedia and career block*/
    .multimedia-block {  
        width: 760px;
        float: left;
        padding-right: 25px;
        border-right: 1px solid $color_brown;
        .view-content {
           margin-top: 20px;
            .grid-social-block_picture img {
                max-height: 100% !important;
            }
            .grid-social-block_date {
                margin: -25px 0 5px 0;
            }            
        }
    }
    .akdn_news_page_careers_content {
        float: right;
        width: 380px;
        padding-left: 25px;
        .akdn-news-page-careers {
            margin-top: 20px;
/*            .career-akdn-logo {
                background: url('../images/__logo.png') center 0 no-repeat; 
                height: 56px;
                width: 100%; 
                margin-bottom: 20px;
            }*/
            .careers-block-content {
                border-bottom: 1px solid $color_grey;
                padding-bottom: 20px;
                margin-bottom: 20px;
                font-size: $font-20;
                h4 {
                    font-size: $font-20;
                    color: $color_black;
                    font-family: $font-universe-bold;
                }
                .job-description {
                   font-family: $font-universe-light;
                   margin-bottom: 10px;
                }                
            }
            .job-link {
               a {
                   color: $color_black;
                   font-family: $font-universe-light;
                   text-transform: uppercase;
                 }
            }
        }
        .all-jobs-link {
            @extend .job-link;
            font-size: $font-20;
            a {
                font-size: $font-20;
            }
        }
    }
    .internal-news-page-footer {
        padding: 20px 0;
        font-size: $font-18;
        line-height: 16px;
        font-family: $font-universe-light;
        .internal-news-page-footer-left {
            float: left;
            color: $color_brown;
        }
        .internal-news-page-footer-right {
            float: right;
            h5 {
                display: inline-block;
                vertical-align: top;
                margin: 0 5px 0 0;
                font-size: $font-18;
            }
            a {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
    
}
