.block-akdn-custom-page-lang-switcher,
.pane-akdn-custom-page-lang-switcher {
    background: #f4f1e8;
    margin-bottom: 20px;
    padding: 20px;
    line-height: normal;
    height: 56px;

    h2 {
        color: #3c0202;
        font-size: 15px;
        float: left;
        text-transform: uppercase;
        margin: 0 8px 0 0;
        padding: 0;
    }
}

.block-akdn-custom-page-lang-switcher .content,
.pane-akdn-custom-page-lang-switcher .pane-content {
    float: left;
    width: calc(100% - 260px);

    @media only screen and (max-width: 767px) {
        width: 100%;
        padding-top: 5px;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            padding-bottom: 5px;

            a {
                border-left: 1px solid #3c0202;
                padding: 0 10px;
            }

            &:first-child.active + li a {
                border-left: 0 none;
                padding: 0 10px 0 0;
            }

            &.first a {
                border-left: 0 none;
                padding: 0 10px 0 0;
            }
        }
    }
}


/*RTL CSS*/
html[dir='rtl'] {
    .block-akdn-custom-page-lang-switcher,
    .pane-akdn-custom-page-lang-switcher {
        h2 {
            float: right;
            margin: 0 0 0 8px;
        }
    }

    .block-akdn-custom-page-lang-switcher .content,
    .pane-akdn-custom-page-lang-switcher .pane-content {
        float: right;

        ul li {
            a {
                border-right: 1px solid #3c0202;
                border-left: 0 none;
                padding: 0 10px;
            }

            &:first-child.active + li a {
                border: 0 none;
                padding: 0 0 0 10px;
            }

            &.first a {
                border: 0 none;
                padding: 0 0 0 10px;
            }
        }
    }

    .static_text {
        float: right;
        margin: 9px 0 0 8px;
    }

    .breadcrumb {
        text-align: right;

        .inline {
            float: right;
        }

        .delimiter {
            float: right;
            margin: 0 5px;
        }
    }

    .slide-text {
        text-align: right;
        padding: 10px 15px 10px 110px
    }

    .pane-node-body li:before {
        margin-left: 0;
        margin-right: -14px;
    }
    .flex-nav-container ol.flex-control-nav {
        right: auto;
        left: 10px;
    }

  /// Inner Pages
  /// About
  .section-content {
    .grid-18 {
      float: right;
      border-left: 1px solid #ccc;
      border-right: none;

      @media all and (max-width: 767px) {
        border-left: none;
      }
    }

    .grid-6 {
      float: right;
    }

    .basic-page-summary {
      .body-summary {
        padding: 0 20px 0 0;

        &:before {
          right: 0;
          left: initial;
        }
      }
    }

    .link_to_image, .accordian-image-rel-wrapper {
      float: right;
      padding-right: 0;
      padding-left: 15px;

      @media all and (max-width: 767px) {
        padding-left: 0px;
      }

      img {
        width: 100%;
      }
    }
  }

  .media {
    &.media-element.file-media-right-third,
    &.media-one-third-right,
    &.media-media_right_third,
    &.media-media_half_right {
      float: left;
      margin: 0 15px 10px 0px;
    }

    &.media-media_third_left,
    &.media-media_left_half {
      float: right;;
      margin: 0 0px 10px 15px;
    }
  }

  .block-akdn-breadcrumb-trail {
    .content {
      margin-bottom: 10px;
    }
  }

  .pane-akdn-custom {
    margin-bottom: 27px;
  }

  .akdn-basic-page-about-us {
    .accordian-quick-links {
      padding-left: 0;
      padding-right: 20px;

      &:before {
        right: 0;
        left: initial;
      }
    }
  }

  .accordian-icon {
    right: initial;
    left: 0;
  }

  .flexslider {
    ul.slides {
      li {
        img {
          width: 100%;
        }
      }
    }
  }

  p[align="left"] {
    text-align: right;
  }

  blockquote {
    border-left: none;
    border-right: 5px solid #eeeeee;
  }

  .whatwedo-left {
    float: right;
  }

  .whatwedo-right {
    &:before {
      left: initial;
      right: 0;
    }

    .views-field-field-agency-logo {
      left: initial;
      right: 0;

      img {
        width: 100%;
      }
    }

    .views-field-title {
      padding-right: 46px;
      float: right;
    }
  }

  .whatwedo-body,
  .geography-page {
    .pane-featured-slideshow {
      float: right;
    }
  }

  .what-we-do-body-more {
    padding-left: 0;
    padding-right: 20px;

    &:before {
      border-left: 0;
      border-right: 4px solid #b4965a;
      left: initial;
      right: 0;
    }
  }

  .sub-navbar{
    ul {
      float: left;

      li {
        float: right;

        a {
          padding: 0 10px;
          border-right: 1px solid #999999;
        }

        &:first-child {
          a {
            padding-right: 10px;
            border: none;
          }
        }

        &:last-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }

  .node-type-focus-area {
    .sub-navbar {
      p{
        &:after {
          margin: -6px 150px 0 0px;
        }

        span {
          &:last-child {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .slide-text {
    a {
      display: inline-block;
    }
  }

  .flex-control-nav {
    li {
      &:first-child {
        margin-left: 5px;
      }

      &:last-child {
        margin-left: 0px;
      }
    }
  }

  .project-inner-wrap {
    .views-field-field-project-image {
      img {
        width: 100%;
      }
    }
  }

  .whatwedo-project-row,
  .akdn-facts-block-row,
  .what-we-do-inner-wrapper {
    float: right;
  }

  .akdn-facts-block-row {
    border-right: 1px solid #e1d6bd;

    &:first-child {
      border: none;
    }
  }


  .what-we-do-subwrapper {
    .read {
      padding-left: 0;
      padding-right: 15px;
    }

    .readall {
      padding-left: 15;
      padding-right: 0px;
    }
  }
}

img {
  width: auto;
}
