.block-akdn-custom-page-lang-switcher,
.pane-akdn-custom-page-lang-switcher {
    background: #f4f1e8;
    margin-bottom: 20px;
    padding: 20px;
    line-height: normal;
    height: 56px;

    h2 {
        color: #3c0202;
        font-size: 15px;
        float: left;
        text-transform: uppercase;
        margin: 0 8px 0 0;
        padding: 0;
    }
}

.block-akdn-custom-page-lang-switcher .content,
.pane-akdn-custom-page-lang-switcher .pane-content {
    float: left;
    width: calc(100% - 260px);

    @media only screen and (max-width: 767px) {
        width: 100%;
        padding-top: 5px;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            padding-bottom: 5px;

            a {
                border-left: 1px solid #3c0202;
                padding: 0 10px;
            }

            &:first-child.active + li a {
                border-left: 0 none;
                padding: 0 10px 0 0;
            }

            &.first a {
                border-left: 0 none;
                padding: 0 10px 0 0;
            }
        }
    }
}


/*RTL CSS*/
html[dir='rtl'] {
  .block-akdn-custom-page-lang-switcher,
  .pane-akdn-custom-page-lang-switcher {
    h2 {
      float: right;
      margin: 0 0 0 8px;
    }
  }

  .block-akdn-custom-page-lang-switcher .content,
  .pane-akdn-custom-page-lang-switcher .pane-content {
    float: right;

    ul li {
      a {
        border-right: 1px solid #3c0202;
        border-left: 0 none;
        padding: 0 10px;
      }

      &:first-child.active + li a {
        border: 0 none;
        padding: 0 0 0 10px;
      }

      &.first a {
        border: 0 none;
        padding: 0 0 0 10px;
      }
    }
  }

  .static_text {
    float: right;
    margin: 9px 0 0 8px;
  }

  .breadcrumb {
    text-align: right;

    .inline {
        float: right;
    }

    .delimiter {
        float: right;
        margin: 0 5px;
    }
  }

  .slide-text {
    text-align: right;
    padding: 10px 15px 10px 110px
  }

  .pane-node-body li:before {
    margin-left: 0;
    margin-right: -14px;
  }

  .flex-nav-container ol.flex-control-nav {
    right: auto;
    left: 10px;

    li {
      &:first-child {
        margin-left: 5px;
      }

      &:last-child {
          margin-left: 0;
      }
    }
  }

  .whatwedo-right {
    .views-field-field-agency-logo {
      left: auto;
      right: 0;
      float: right;
    }

    .views-field-title {
      float: right;
      padding-left: 0;
      padding-right: 46px;
    }
  }

  .sub-navbar ul {
    float: left;

    li {
      float: right;

      &:first-child a {
        border: 0 none;
      }

      &:last-child a {
        padding: 0 10px 0 0;
        border-left: 0 none;
        border-right: 1px solid;
      }
    }
  }

  .sub-navbar p span + span {
    padding-left: 5px;
    padding-right: 0;
  }

  .sub-navbar p:after {
    margin-left: 0;
  }

  .views-align-left {
    text-align: right;
  }

  .location-links h2 .nolink:after, .location-links h2 a:after {
    content: "\e257";
    left: 0;
    right: auto;
  }

  .social-box li:first-child a {
    margin-left: 10px;
  }

  // Header
  .logo-container {
    float: right;
  }

  .top-navbar {
    float: left;
    text-align: left;

    ul:not(.dropdown-menu) {
      float: left;

      li:first-child {
        overflow: auto;
        margin: 0;
      }

      li:nth-child(2) {
        border-left: none;
        border-right: 1px solid #b2b2b2;
        text-align: left;

        @media all and (max-width: 480px) {
          border-right: none;
        }
      }

      li:nth-child(5) {
        padding-left: 0;
      }

      li:last-child {
        padding-left: 0;

        @media all and (max-width: 991px) {
          padding-left: 2px;
          padding-right: 10px;
        }
      }
    }

    .form-item-search {
      .form-control {
        padding: 6px 6px 6px 25px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          text-align: left;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          text-align: left;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          text-align: left;
        }
        &:-moz-placeholder { /* Firefox 18- */
          text-align: left;
        }
      }
    }
  }

  .form-submit {
    right: inherit;
    left: 0;
    margin: 12px 1px 0 7px;
    transform: rotate(90deg);
  }

  .main-navbar  {
    float: left;
    clear: none;

    @media only screen and (max-width: 992px) {
      clear: left;

      &:before, &:after {
        right: initial;
        left: 12px;
      }
    }

    .menu-block-wrapper {
      & > ul {
        & > li {
          &:last-child {
            .nolink {
              padding-right: 10px !important;
              border-right: 1px solid #999;
              padding-left: 0;
            }
          }
          @media all and (max-width: 991px) {
            &:first-child {
              padding-right: 10px;
            }

            .subnav {
              float: left;
            }
          }
        }
      }
    }

    li {
      float: right;

      &:first-child {
        .nolink {
          padding-right: 0px !important;
          border-right: none;

          @media all and (max-width: 991px) {
            padding-right: 10px !important;
          }
        }
      }

      .menu {
        .nolink {
          text-align: right;
          float: right;
        }
      }
    }
  }

  img {
    width: auto;
  }

  //Footer
  .pane-agencies td {
    text-align: right;
  }

  #mini-panel-geography_footer_menu {
    .pane-title {
      position: relative;

      .nolink, a {
        &:after {
          right: initial;
          left: 0;
        }
      }
    }
  }

  .quicklinks_social_block, .panel-whatwedo, .pane-geography-footer-menu, .pane-agencies {
    float: right;
  }

  .social-box {
    li:first-child {
      a {
        margin-left: 10px;
      }
    }
  }

  .region-footer-second {
    text-align: center;
  }

  /* Homepage */
  /// Banner
  .flex-control-nav {
    li:first-child {
      margin-left: 5px;
    }
    li:last-child {
      margin-left: 0px;
    }
  }

  .slide-text {
    a {
      display: inline-block;
    }
  }

  /// what's new section
  .sub-navbar {
    .pane-content {
      p {
        float: none;
        display: inline;
        background-color: #fff;
      }

      ul {
        float: left;
        margin: -25px auto 0;

        @media all and (max-width: 767px) {
          margin: 10px auto 0;
        }

        li {
          float: right;

          &:last-child {
            a {
              border-right: 1px solid #999;
              padding-left: 0;
              padding-right: 10px;
            }
          }

          &:first-child {
            a {
              border-right: none;
            }
          }
        }
      }
    }

    p {
      &:after {
        margin: -12px 185px 0 0px;

        @media all and (min-width: 1200px) {
          margin: -12px 210px 0 0px;
        }
      }
    }
  }

  /// Social Feeds
  .pane-facebook-feeds {
    float: right;
  }

  .grid-social-block_title {
    .title {
      padding-left: 0;
      padding-right: 56px;
    }
  }

  .social-icon-image {
    left: initial;
    right: 15px;
  }

  /// News section
  .breaking-news-custom-wrap {
    display: table;
  }

  .breaking-news-image {
    float: right;
    display: table-cell;
    width: 40%;

    @media all and (max-width: 767px) {
      width: 100%;
    }

    .image {
      padding: 0 0px 0 20px;

      img {
        width: 100%;
      }

      @media all and (max-width: 767px) {
        padding: 0px;
      }
    }
  }

  .breaking-news-text-wrapper {
    float: right;
    display: table-cell;
    width: 60%;

    @media all and (max-width: 767px) {
      width: 100%;
    }

    .title {
      text-align: right;
    }

    .breaking-news-left {
      float: right;
      padding: 0 10px 0 15px;
      border-right: none;
      border-left: 1px solid #b5995a;

      @media all and (max-width: 767px) {
        border-left: none;
      }
    }

    .breaking-news-right {
      float: right;
    }
  }

  /// Subscribe form
  .panel-display {
    &.panel-1col {
      overflow: hidden;
    }
  }

  .custom-subscribe {
    .subs-left {
      float: right;
      text-align: right;

      @media all and (max-width: 767px) {
        padding: 0;
      }
    }

    .subs-right {
      float: right;

      .mc-field-group {
        overflow: auto;

        label {
          float: right;
          text-align: right;
          height: auto !important;

          @media all and (max-width: 767px) {
            float: none;
            width: 100% !important;
          }
        }

        input, select {
          @media all and (max-width: 767px) {
            width: 100% !important;
            margin: 0;
          }
        }
      }
    }

    select {
      padding-left: 10px !important;
      background-position: 1% center;
    }

    .elements {
      float: right !important;
      margin-right: 10px;

      @media all and (max-width: 1078px) {
        margin-right: 0px;
      }
    }

    &.subs-subscriptions, &.subs-acceptance {
      .subs-right {
        @media all and (max-width: 767px) {
          padding: 0 !important;
          margin: 0 !important;
        }
      }

      .input-group {
        li {
          overflow: auto;

          label {
            float: right;
            text-align: right;
            margin: 0;
            width: auto !important;
          }

          input {
            float: right;
            width: auto !important;
            margin-top: 5px;
          }
        }
      }
    }

    &.subs-acceptance {
      .input-group {
        li {
          label {
            width: 89% !important;
          }
        }
      }
    }
  }

  #mc_embed_signup_scroll {
    .form-note {
      float: right !important;
      text-align: right;
    }

    .subs_btn_wrap {
      float: left !important;

      .form-submit {
        transform: none;
      }
    }
  }

  /// Contact Us Form
  .node-type-webform {
    .region-content {
      .node-webform {
        .webform-client-form {
          label {
            float: right;
            width: auto;
          }

          .form-textarea-wrapper {
            float: left;
          }

          select {
            padding-left: 10px !important;
            background-position: 1% center;
          }

          .form-actions {
            float: left;

            .form-submit {
              transform: none;
            }
          }
        }
      }
    }
  }

  /// Photograph section
  .gallery-processed {
    .gallery-slides {
      .gallery-slide {
        left: initial;
        right: 0;
      }
    }
  }

  /// Inner Pages
  /// About
  .section-content {
    .grid-18 {
      float: right;
      border-left: 1px solid #ccc;
      border-right: none;

      @media all and (max-width: 767px) {
        border-left: none;
      }
    }

    .grid-6 {
      float: right;
    }

    .basic-page-summary {
      .body-summary {
        padding: 0 20px 0 0;

        &:before {
          right: 0;
          left: initial;
        }
      }
    }

    .link_to_image, .accordian-image-rel-wrapper {
      float: right;
      padding-right: 0;
      padding-left: 15px;

      @media all and (max-width: 767px) {
        padding-left: 0px;
      }

      img {
        width: 100%;
      }
    }
  }

  .media {
    &.media-element.file-media-right-third,
    &.media-one-third-right,
    &.media-media_right_third,
    &.media-media_half_right {
      float: left;
      margin: 0 15px 10px 0px;
    }

    &.media-media_third_left,
    &.media-media_left_half {
      float: right;;
      margin: 0 0px 10px 15px;
    }
  }

  .block-akdn-breadcrumb-trail {
    .content {
      margin-bottom: 10px;
    }
  }

  .pane-akdn-custom {
    margin-bottom: 27px;
  }

  .akdn-basic-page-about-us {
    .accordian-quick-links {
      padding-left: 0;
      padding-right: 20px;

      &:before {
        right: 0;
        left: initial;
      }
    }
  }

  .accordian-icon {
    right: initial;
    left: 0;
  }

  .flexslider {
    ul.slides {
      li {
        img {
          width: 100%;
        }
      }
    }
  }

  p[align="left"] {
    text-align: right;
  }

  blockquote {
    border-left: none;
    border-right: 5px solid #eeeeee;
  }

  .whatwedo-left {
    float: right;
    padding-left: 15px;
    padding-right: 0;
  }

  .whatwedo-right {
    &:before {
      left: initial;
      right: 0;
    }

    .views-field-field-agency-logo {
      left: initial;
      right: 0;

      img {
        width: 100%;
      }
    }

    .views-field-title {
      padding-right: 46px;
      float: right;
    }
  }

  .whatwedo-body,
  .geography-page,
  .node-type-agency {
    .pane-featured-slideshow {
      float: right;
    }
  }

  .carousel-left {
    .banner-slideshow-views {
      & > .view-content {
        float: right;
      }
    }
  }

  .what-we-do-body-more {
    padding-left: 0;
    padding-right: 20px;

    &:before {
      border-left: 0;
      border-right: 4px solid #b4965a;
      left: initial;
      right: 0;
    }
  }

  .sub-navbar{
    ul {
      float: left;

      li {
        float: right;

        a {
          padding: 0 10px;
          border-right: 1px solid #999999;
        }

        &:first-child {
          a {
            padding-right: 10px;
            border: none;
          }
        }

        &:last-child {
          a {
            padding-left: 0;
          }
        }
      }
    }

    p.indexfix {
      &:after {
        margin: -6px 150px 0 0px;
      }

      span {
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  }

  .slide-text {
    a {
      display: inline-block;
    }
  }

  .flex-control-nav {
    li {
      &:first-child {
        margin-left: 5px;
      }

      &:last-child {
        margin-left: 0px;
      }
    }
  }

  .project-inner-wrap {
    .views-field-field-project-image {
      img {
        width: 100%;
      }
    }
  }

  .whatwedo-project-row,
  .akdn-facts-block-row,
  .what-we-do-inner-wrapper {
    float: right;

    img {
      width: 100%;
    }
  }

  .akdn-facts-block-row {
    border-right: 1px solid #e1d6bd;

    &:first-child {
      border: none;
    }
  }


  .what-we-do-subwrapper {
    .read {
      padding-left: 0;
      padding-right: 15px;
    }

    .readall {
      padding-left: 15;
      padding-right: 0px;
    }
  }

  .geography-page,
  .node-type-agency {
    .pane-hub-pages:not(.other-activities-title) {
      .pane-title {
        &:after {
          margin: -7px 290px 0 0;
        }
      }
    }

    .www-summary {
      .field-type-text-with-summary {
        &:before {
          left: initial;
          right: 0;
        }
      }
    }

    .country-activity-tile {
      .hub-pages-row {
        float: right;

        img {
          width: 100%;
        }

        .country_activity_link {
          a {
            right: initial;
            left: 5px;
            @include transform(rotate(180deg));
          }
        }

        .hub_pages-title {
            padding: 10px 15px 10px 35px;
        }
      }
    }

    .what-we-do-main-wrapper {
      float: right;
    }

    .www-body {
      li {
        left: initial;
        right: 1em;
      }

      img {
        width: 100%;
      }
    }
  }

  .facts-block_icon {
    img {
      width: auto;
    }
  }

  .see-also-brochure-image {
    img {
      width: 100%;
    }
  }

  .in-media-block {
    float: right;

    &:before {
      left: initial;
      right: 15px;
    }
  }

  .grid-media-block_description {
    padding: 15px 10px 5px 0px;

    .date {
      float: right;
    }
  }

  .akdn-filter-show-hide {
    h2 {
      &:after {
        float: left;
      }
    }
  }

  .akdn-filter-js-wrapper {
    ul {
      padding-right: 18px;
      padding-left: 0;
    }

    .form-submit, .akdn-solr-rest-link {
      float: right;
    }

    .form-submit {
      margin: 0 2% 0 0;
    }
  }

  .akdn-filter-wrapper {
    float: right;
    padding: 0 0 0 15px;

    .item-list {
      li {
        input[type="checkbox"] {
          margin: 2px -18px 0 0;
        }
      }
    }
  }

  #backtotop {
    right: initial;
    left: 20px;
  }

  .publication-list-container {
    .views-row {
      float: right;
      border-left: none;
      border-right: 1px solid #b5995a;

      &:nth-child(5n-4) {
        border-right: none;
      }
    }
  }
}
