/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

//iMAP page theming.

#page {
    .header__logo {
        text-align: center;
        width: 100%;
        display: block;
        .header__logo-image {
            border-bottom: 1px solid #000000;
            color: #000000;
            padding-bottom: 10px;
        }
    }
    .header__name-and-slogan {
        clear: both;
        text-align: center;
        width: 100%;
        font-size: .72em;
        font-family: $times-new-roman;
    }
    #main {
        .page__title.title, #navigation {
            display: none;
        }
        .view-interactive-map {
            .views-slideshow-cycle-main-frame-row-item {
                img {
                    border: 1px solid #cccccc;
                    padding: 3px;
                }
            }
        }
        .modal-content {
            iframe {
                width: 100%;
            }
            .title {
                font-weight: bold;
                font-size: 1.5em;
                margin-bottom: 10px;
            }
            .video {
                float: left;
                margin-right: 15px;
            }
            .text {}
        }
    }
}