/*Custom Admin theming.*/

/* line 4064, ../sass/styles.scss */
.see-also .image-full,  .see-also .media-large,  .see-also .media-full {
  width: auto !important;
}

/* line 4076, ../sass/styles.scss */
 .image-full,  .image-left-half,  .image-left-third,
 .image-right-half,  .image-right-third,  .media-left-half,
 .media-half-right,  .media-right-third,  .media-third-left,
 .media-large,  .media-original,  .file-media-original,
 .media-full,  .media-half-left,  .media-one-third-left,
 .media-one-third-right {
  color: #666666;
  font-size: .813em;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 4081, ../sass/styles.scss */
 .image-full .imagelink,  .image-left-half .imagelink,  .image-left-third .imagelink,
 .image-right-half .imagelink,  .image-right-third .imagelink,  .media-left-half .imagelink,
 .media-half-right .imagelink,  .media-right-third .imagelink,  .media-third-left .imagelink,
 .media-large .imagelink,  .media-original .imagelink,  .file-media-original .imagelink,
 .media-full .imagelink,  .media-half-left .imagelink,  .media-one-third-left .imagelink,
 .media-one-third-right .imagelink {
  line-height: 0;
  display: block;
  margin-bottom: 5px;
}
/* line 4086, ../sass/styles.scss */
 .image-full .field-name-field-credit,  .image-left-half .field-name-field-credit,  .image-left-third .field-name-field-credit,
 .image-right-half .field-name-field-credit,  .image-right-third .field-name-field-credit,  .media-left-half .field-name-field-credit,
 .media-half-right .field-name-field-credit,  .media-right-third .field-name-field-credit,  .media-third-left .field-name-field-credit,
 .media-large .field-name-field-credit,  .media-original .field-name-field-credit,  .file-media-original .field-name-field-credit,
 .media-full .field-name-field-credit,  .media-half-left .field-name-field-credit,  .media-one-third-left .field-name-field-credit,
 .media-one-third-right .field-name-field-credit {
  font-family: "Arial", Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
  font-variant: normal;
  text-transform: uppercase;
  font-size: .9em;
  color: #666666;
}
/* line 4096, ../sass/styles.scss */
 .image-full,  .media-large,  .media-full {
  width: 633px;
  float: none;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 4102, ../sass/styles.scss */
 .image-full img,  .media-large img,  .media-full img {
  width: 100%;
}
/* line 4109, ../sass/styles.scss */
 .image-left-half,  .media-left-half,  .media-half-left {
  width: 316px;
  float: left;
  text-align: left;
  margin-left: 0;
  margin-right: 20px;
}
/* line 4119, ../sass/styles.scss */
 .image-left-third,  .media-third-left,  .media-one-third-left {
  width: 211px;
  float: left;
  text-align: left;
  margin-left: 0;
  margin-right: 20px;
}
/* line 4132, ../sass/styles.scss */
 .image-right-half,  .media-half-right {
  width: 316px;
  float: right;
  text-align: right;
  margin-left: 20px;
  margin-right: 0px;
}
/* line 4142, ../sass/styles.scss */
 .image-right-third,  .media-right-third,  .media-one-third-right, .file-media-right-third {
  width: 211px;
  float: right;
  text-align: right;
  margin-left: 20px;
  margin-right: 0px;
}
.file-media-right-third {
	width: 150px !important;
}
/* line 4155, ../sass/styles.scss */
 .img-tag {
  font-family: "Arial", Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
  font-variant: normal;
  text-transform: uppercase;
  font-size: .9em;
  color: #666666;
}